<div class="flex flex-col">
  <div>
    <h2 class="text-sm font-bold mb-2 text-blue-500">Context:</h2>
    <p>I am the only child. My father named his son John.</p>
  </div>

  <div class="flex flex-col mt-10">
    <%= form_with local: true do |form| %>
      <div class="form-group flex flex-col">
        <%= form.label 'Question:', class: "text-sm font-bold mb-2 text-blue-500" %>
        <%= form.text_area :query, class: "rounded-md h-40" %>
        <%= form.submit 'Get content', class: "text-sm font-bold mt-2 p-4 border w-32 rounded-md bg-gradient-to-r from-sky-300 to-sky-500 hover:from-sky-400 hover:to-sky-600 cursor-pointer" %>
      </div>
    <% end %>
  </div>

  <div class="mt-10">
    <h2 class="text-sm font-bold mb-2 text-blue-500">Answer:</h2>
    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>
  </div>
</div>
