<!DOCTYPE html>
<html>
  <head>
    <title>ProjectRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <header>
      <div>
        <a href=<%= root_path %>>
          <%= image_tag "Q-A-Chat-icon.png", class: "w-32 h-12 mt-4 ml-4" %>
        </a>
      </div>
    </header>
    <main class="container mx-auto mt-10 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
